<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
 <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>taskHelperController.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/taskHelperController/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>taskHelperController.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/taskHelperController/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>taskHelperController.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/taskHelperController/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewDetails</servlet-name>
    <servlet-class>taskHelperController.ViewDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetails</servlet-name>
    <url-pattern>/taskHelperController/ViewDetails</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AcceptTask</servlet-name>
    <servlet-class>taskHelperController.AcceptTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptTask</servlet-name>
    <url-pattern>/taskHelperController/AcceptTask</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>ExpertsFinishTask</servlet-name>
    <servlet-class>taskHelperController.ExpertsFinishTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpertsFinishTask</servlet-name>
    <url-pattern>/taskHelperController/ExpertsFinishTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpertsCancelTask</servlet-name>
    <servlet-class>taskHelperController.ExpertsCancelTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpertsCancelTask</servlet-name>
    <url-pattern>/taskHelperController/ExpertsCancelTask</url-pattern>
  </servlet-mapping>
 

  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>taskHelperController.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/taskHelperController/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTask</servlet-name>
    <servlet-class>taskHelperController.UpdateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTask</servlet-name>
    <url-pattern>/taskHelperController/UpdateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTask</servlet-name>
    <servlet-class>taskHelperController.DeleteTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTask</servlet-name>
    <url-pattern>/taskHelperController/DeleteTask</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>AddTask</servlet-name>
    <servlet-class>taskHelperController.AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTask</servlet-name>
    <url-pattern>/taskHelperController/AddTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmTask</servlet-name>
    <servlet-class>taskHelperController.ConfirmTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmTask</servlet-name>
    <url-pattern>/taskHelperController/ConfirmTask</url-pattern>
  </servlet-mapping>
</web-app>